/.vscode
/Grain.chug/.vs
/Grain.chug/.vscode
*.obj
*.recipe
/Grain.chug/Grain/x64
/Grain.chug/x64
/Granulator.chug/.vs
*.wav
/Matrix.chug/.vs
/Matrix.chug/Matrix/x64
/Matrix.chug/x64
/Pulsar.chug/.vs
/Pulsar.chug/.vscode
/Pulsar.chug/Pulsar/x64
/Pulsar.chug/x64
/Sampler.chug/.vs
/Sampler.chug/Sampler/x64
/Sampler.chug/x64
/TripleWaveshaper.chug/.vs
/Granulator.chug/Granulator/Debug
/Granulator.chug/Granulator/x64
/Granulator.chug/x64
/LPC.chug/.vs/LPC/v17
/LPC.chug/LPC/x64
/LPC.chug/.vs
/Assemblage.chug/.vs
/Assemblage.chug/Assemblage
/Assemblage.chug/x64
/Atmosphere.chug/.vs
/Atmosphere.chug/.vscode
/Atmosphere.chug/Atmosphere
/Atmosphere.chug/x64
/Granulator.chug/.vscode
