*.o
*.obj
*.wav
*.recipe
/Assemblage.chug/.vs
/Assemblage.chug/Assemblage
/Assemblage.chug/x64
/Atmosphere.chug/Atmosphere
/Atmosphere.chug/x64
/Collage.chug/.vs
/Collage.chug/Collage
/Collage.chug/x64
